p {
    padding: 0px;
    margin: 0px;
}

.form {
    max-width: 95%;
}

.cards {
    max-width: 100%;
}

.img-card-5 {
    width: 5rem;
    height: 5rem;
}

.img-card-3 {
    width: 3rem;
    height: 3rem;
}