.wd-padding-left-16 {
    padding-left: 16px;
}


.wd-padding-top-12 {
    padding-top: 12px;
}

.wd-padding-12 {
    padding: 12px;
}

.wd-padding-bottom-12 {
    padding-bottom: 12px;
}

.wd-padding-right-12 {
    padding-right: 12px;
}

.wd-padding-right-20 {
    padding-right: 20px;
}

.wd-white-text {
    color: white;
}

.wd-red-text {
    color: red;
}

.wd-lgray-text {
    color: lightgray;
}

.wd-font-20 {
    font-size: 20px;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-font-12 {
    font-size: 12px;
}

.wd-font-15 {
    font-size: 15px;
}

.wd-border {
    border: 1px solid lightgray;
}

.wd-border-top {
    border-top: 1px solid lightgray;
}

.wd-profile {
    height: 48px;
    width: 48px;
    border-radius: 48px;
}

.wd-float-clear {
    clear: both
}

.wd-float-left {
    float: left;
}

.wd-float-left-10 {
    float: left;
    width: 10%;
}

.wd-float-left-10 {
    float: left;
    width: 90%;
}

.wd-width-506 {
    width: 506px;
}

.wd-height-264 {
    height: 264px;
}

body {
    background-color: black;
}

.rounded-corners-bottom {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.rounded-corners-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}



.flex {
    display: flex;
}

.icon-size {
    width: 15px;
    height: 15px;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}